@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
html,
body {
  font-size: calc(1em + 0.2vw);
  padding: 0;
  margin: 0;
  font-family: Abel;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
